doctype html

html(lang='en-US')
  head
    meta(charset='UTF-8')
    title Not available
    link(rel='stylesheet' href='/stylesheets/application.css')
  body
    h1.error Error 404: Language not available...